@import "../../StyleDefaults/variables";
@import "../../StyleDefaults/mixins";

#confirmation_popup_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  @include flexCenterCol;
  background: rgba(0,0,0,0.5);
  z-index: 10;
  .confirmation_box{
    position: relative;
    width: 50vw;
    height: 50vh;
    background: $primary_color;
    @include flexCenterCol;
    overflow: hidden;
    .close_button{
      position: absolute;
      top: 20px;
      left: 20px;
      transform: scale(2);
      color: $secondary_color;
      cursor: pointer;
      z-index: 10;
    }
    .animated_section{
      position: absolute;
      width: 100%;
      height: 100%;
      @include flexCenterCol;
    }
  }
}
