@import "../../StyleDefaults/variables";
@import "../../StyleDefaults/mixins";
@import "./SimilarStyles";
#payment_page_container {
  width: 100%;
  height: 100%;
  #payment_page {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-rows: 2fr 0.5fr 5fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;

    .success_container{
      background: #54b191;
      color: $primary_color;
      font-weight: 500;
      @include flexCenterRow;
      p{
        text-align: center;
      }
      a {
        color: $secondary_color;
      }
    }

    .title {
      width: 100%;
      @include flexCenterRow;
      color: $secondary_color;
      border-bottom: 2px solid $secondary_color;
    }
    .default_number{
      width: 80%;
      color: #54b191;
      div {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 2fr;
        p{
          width: 100%;
          white-space: nowrap;
        }
      }
    }

    .elements {
      grid-row: 2 / 4;
      display: grid;
      grid-template-columns: 3fr 1fr;
      align-content: center;
      width: 80%;
      height: 100%;
      grid-gap: 50px;
      .title {
        width: 100%;
        //@include flexCenterCol
      }

      .element {
        p {
          margin-bottom: 5px;
          font-size: 0.8em;
          color: $secondary_color;
          font-weight: 900;
          letter-spacing: 2px;
        }
      }

      .el0 {
        grid-column: 1 / 3;
      }

      .el1 {
        grid-column: 1 / 2;
      }

      .el2 {
        grid-column: 2 / 3;
      }
    }

    @include footer;
  }
}
