@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

$primary_color: rgb(122, 255, 212);
$primary_color_opaque: rgba(122, 255, 212, 0.5);
$secondary_color: rgb(255, 166, 202);
$secondary_color_opaque: rgba(255, 166, 202, 0.5);
$third_color: rgb(255, 241, 176);
$fourth_color: rgb(203, 255, 238);

$fancy_font: 'Great Vibes', cursive;
